{% extends 'org_base.html' %}
{% block page_path %}
机构介绍
{% endblock %}
{% block custom_bred %}
<div class="right companycenter layout" >
        <div class="head">
            <h1>机构讲师</h1>
        </div>
        <div class="messagelist">
            <div class=" butler_list butler-fav-box">
                {% for all_teacher in all_teachers %}
                    <dl class="des users">
                    <dt>
                        <a href="">
                        <img width="100" height="100" class="scrollLoading" data-url="../media/teacher/2016/11/aobama_CXWwMef.png" src="{{ MEDIA_URL }}{{ all_teacher.image }}"/>
                        </a>
                    </dt>
                    <dd>
                        <h1>
                            <a href="">
                            {{ all_teacher.name }}<span class="key">已认证</span>
                            </a>
                        </h1>
                        <ul class="cont clearfix">
                            <li class="time">工作年限：<span>{{ all_teacher.work_years }}年</span></li>
                            <li class="c7">课程数：<span>3</span></li>
                        </ul>
                    </dd>
                </dl>
                {% endfor %}





            </div>
        </div>
    </div>
{% endblock %}