{% extends 'org_base.html' %}
{% block page_path %}
机构课程
{% endblock %}
{% block custom_bred %}
<div class="right companycenter layout" >
		<div class="head">
			<h1>机构课程</h1>
		</div>
    {% for all_cours in all_courses %}
    <div class="brief group_list">

                <div class="module1_5 box">
                    <a class="comp-img-box" href="course-detail.html">

                        <img width="214" height="195" src="{{ MEDIA_URL }}{{ all_cours.image }}"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ all_cours.name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ all_cours.learn_times }}</i></span>
                        <span class="fr">学习人数：{{ all_cours.students }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ all_cours.course_org.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            {{ all_cours.fav_nums }}
                        </span>
                    </div>
                </div>


		</div>
    {% endfor %}


			<div class="pageturn">
                <ul class="pagelist">
                    <li class="active"><a href="?page=1">1</a></li>
                </ul>
            </div>
	</div>


{% endblock %}